#maskShape{
    background-color: rgb(172, 9, 9);
    position: absolute;
    left: 1000px;
    top: 300px;
    width: 800px;
    height: 800px;
    border-radius: 50%
}

.curve {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    box-shadow: 15px 15px 0 0 red;
    transform: rotate(255deg);
  }